html {
    font-family: 'Press Start 2P', monospace;
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 4px;
    }
}
@media only screen and (min-width: 500px) {
    html {
        font-size: 5px;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 6px;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 7px;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 9px;
    }
}
header {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #000000;
    color: white;
    font-size: 1.75rem;
}

select {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: auto 5rem;
}


#base {
    margin: auto;
    width: 90%;
}

body {
    background-color: rgb(29, 29, 37);
}


.top {
    color: black;
    font-size: 1.5rem;
}
tbody {
    color: rgb(63, 86, 155);
}
#a1 {
    color: white;
    width: 90%;
    height: auto;
    padding: 5%;
    margin: auto;
    text-align: center;
}
#container2 > div {
    color: white;
    width: 90%;
    height: auto;
    padding: 5%;
    margin: 2rem auto;
    text-align: center;
}

.hide {
    display: none;
}

#buffer {
    color: yellow;
    margin: auto 6rem;
}

.small {
    font-size: 0.75rem;
}
.medium1 {
    font-size: 0.875rem;
}
.medium2 {
    font-size: 1rem;
}
.medium3 {
    font-size: 1.125rem;
}
.large {
    font-size: 1.25rem;
}