html {
    font-family: 'Press Start 2P', monospace;
    cursor: url(./cursors/cursor1.png) 4 4, auto;
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 4px;
    }
}
@media only screen and (min-width: 500px) {
    html {
        font-size: 5px;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 6px;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 7px;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 8px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 9px;
    }
}
header {
    display: flex;
    flex: 1;
    align-items: center;
    color: rgb(255, 205, 205);
    font-size: 1.1rem;
}

select {
    width: auto;
    height: auto;
    background-color: rgb(30, 12, 12);
    color: rgb(43, 223, 255);
    font-size: 2rem;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-left: 5rem;
    cursor: url(./cursors/cursor2.png) 4 4, pointer;
}

form {
    margin: auto 2rem;
    cursor: url(./cursors/cursor2.png) 4 4, pointer;
}
a {
    cursor: url(./cursors/cursor2.png) 4 4, pointer;
}
a:active {
    cursor: url(./cursors/cursor3.png) 4 4, pointer;
}

#base {
    margin: auto;
    width: 90%;
}

#copy {
    color: gray;
    text-align: center;
    font-size: 1.1rem;
}

body {
    /* background-color: rgb(29, 29, 37); */
    background: black url(../ASCII.gif) repeat fixed center;
}


.top {
    color: black;
    font-size: 1.5rem;
}
tbody {
    color: rgb(63, 86, 155);
}
#a1 {
    color: white;
    width: 90%;
    height: auto;
    padding: 5%;
    margin: auto;
    text-align: center;
}
#container2 > div {
    color: white;
    width: 90%;
    height: auto;
    padding: 5%;
    margin: 2rem auto;
    text-align: center;
}

.hide {
    display: none;
}

#buffer {
    color: yellow;
    margin: auto 6rem;
}
.xtrasmall {
    font-size: 0.5rem;
}
.small {
    font-size: 0.75rem;
}
.medium1 {
    font-size: 0.875rem;
}
.medium2 {
    font-size: 1rem;
}
.medium3 {
    font-size: 1.125rem;
}
.large {
    font-size: 1.25rem;
}